<main class="container">
    <section class="row ">
        <div class="col-md-7">
            <img src="assets/xelloApp.png" alt="xello application">
        </div>
        <div class="col-md-5">
            <h2>
                Give Students a Head Start
            </h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit repellat labore illum inventore voluptatum
                amet velit assumenda fuga delectus officiis non, cupiditate omnis in quae iure? Ipsum aperiam id illum?
            </p>
            <div class="buttons">
                <button class="btn" id="A" aria-describedby="tooltipA">Button A
                    <app-tooltip id="tooltipA">
                        I'm button A
                    </app-tooltip>
                </button>
                <button class="btn" id="B" aria-describedby="tooltipB">Button B
                    <app-tooltip id="tooltipB">
                        I'm button B
                    </app-tooltip>
                </button>
            </div>
        </div>
    </section>
    <section class="row">
        <h2>
            Accessible, Secure, and Trustworthy
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus non, in quaerat quia aut sequi officia
            eligendi tenetur, enim suscipit, facere consectetur aliquid impedit. Maiores officia, velit debitis, libero
            enim voluptate consequuntur eum repellendus deserunt ex, quasi amet. Non dolore, mollitia iure ipsa placeat
            dolorum necessitatibus maiores dolores laudantium illum reiciendis neque voluptates officiis perspiciatis,
            similique id eveniet soluta, earum rerum cum obcaecati explicabo et magnam incidunt! Excepturi minus
            incidunt earum, inventore soluta voluptatem debitis! Consequuntur nobis officiis blanditiis illo dolorem,
            corporis maiores veritatis ipsam, velit deleniti ullam eum sit tempora repellendus temporibus odio corrupti
            eaque aut fugit aliquid molestiae dolor tempore modi voluptatem? Id esse veniam distinctio iure? Iure
            aspernatur aut quae iusto rerum molestias id voluptatem necessitatibus sequi perferendis, dignissimos illo
            est debitis fuga veritatis minus nulla vero, aperiam ab incidunt, voluptas officiis odit. Sunt pariatur,
            officia reiciendis fugit molestias atque dolorem dignissimos in quia deleniti, consequatur quas laboriosam,
            ipsum harum sapiente consectetur temporibus voluptas magni quam ex? Nesciunt porro minus repudiandae optio
            in laudantium perspiciatis veritatis dolor. Nostrum at nemo, quasi aperiam aliquam rerum fugit earum a
            ducimus, temporibus laborum minus! Earum, molestiae praesentium unde cum culpa voluptatem facilis quaerat
            voluptates nostrum, vero illum commodi consequuntur? Labore in est dolores. Dolore rem sit totam voluptatum
            soluta excepturi nam cupiditate, eligendi unde. Placeat, consequatur? Dolore voluptate iusto maxime
            veritatis architecto magnam laudantium iste nesciunt perspiciatis, nihil eligendi maiores natus, eius id
            blanditiis esse ad itaque! Esse voluptatem odio sit et placeat impedit distinctio officia veritatis eum,
            deleniti, voluptatum quasi, ab consequatur? Autem, dolorum. Perspiciatis dolorum suscipit laborum eum itaque
            consectetur similique et mollitia dignissimos, harum incidunt minus ea vero odio ut, explicabo modi! Nulla
            dolores cupiditate, temporibus saepe ratione blanditiis ad quis consequatur! Id inventore obcaecati,
            excepturi corrupti, quidem incidunt optio placeat a culpa numquam laborum explicabo expedita ut sequi omnis
            nihil? Quisquam doloremque perspiciatis laudantium eaque aspernatur, sequi nobis consectetur vel natus ipsum
            labore eos nostrum sed omnis quibusdam id in doloribus, quia voluptatem delectus, nihil cupiditate. Ad ipsum
            explicabo beatae ex dignissimos facilis quisquam eum ea voluptatem cupiditate voluptate deserunt
            consequuntur id, exercitationem quo incidunt dolore veniam aspernatur commodi? Vitae animi laboriosam porro
            labore, perspiciatis laborum neque iure amet hic recusandae eius quasi obcaecati quae beatae et nesciunt ad
            praesentium, totam nisi? Nostrum, laborum ipsa obcaecati sit iusto placeat deleniti, fugit temporibus
            suscipit ut delectus iste? Minima, facilis iste assumenda et error fugiat earum ea aliquid. Quaerat quisquam
            officia ea praesentium in, illo dolorum voluptatem distinctio cupiditate non sit reprehenderit excepturi
            tempora voluptates numquam vel? Eaque, molestias corporis aperiam mollitia et iure, deserunt esse, tenetur
            distinctio nam id perferendis dicta. Voluptatem perferendis qui ratione id sint neque veritatis ullam,
            tenetur consequuntur sunt ipsa accusamus architecto deleniti, reprehenderit excepturi, iure eos corrupti ab
            dolore facilis distinctio obcaecati velit. Iste accusantium mollitia deleniti atque unde sit quae qui quas
            placeat quidem alias rem, illo ea! Sint sed illo eveniet possimus quisquam nihil pariatur molestias ullam,
            quasi provident error perspiciatis iste sit alias, facilis dolorem optio nesciunt ab asperiores.
        </p>
    </section>
</main>